Repository phillidp1989/project-3, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, config, db, automation, npm packages, models, routes

.github/labeler.yml:

# Config file for labeler to auto label Pull Requests
documentation:
  - README.md
  - docs/**/*

config:
  - config/**/*

db:
  - db/**/*
  - models/**/*

automation:
  - .github/**/*.yml
  - .eslintrc.json

npm packages:
  - '**/package.json'
  - '**/package-lock.json'

models:
  - models/*
  - models/**/*

routes:
  - routes/*
  - routes/**/*

Installed concurrently for testing
  package-lock.json
  package.json
Labels: npm packages

Added icons and date to home page
  client/src/components/PostCard.js
Labels: none

Imported new src folder for deployment
  client/package-lock.json
  client/package.json
  client/src/components/AppBar.js
  client/src/components/AppFilterMenu.js
  client/src/components/PostCard.js
  client/src/components/PostResults.js
  client/src/components/Toast.js
  client/src/context/UserContext.js
  client/src/pages/Dashboard/Nav.js
  client/src/pages/Dashboard/Summary.js
  client/src/pages/Dashboard/TabPanel.js
  client/src/utils/API.js
  controllers/postController.js
  models/Post.js
  routes/apiRoutes.js
  server.js
Labels: db, npm packages, models, routes

Removed destructuring
  client/src/components/PostCard.js
Labels: none

Dashboard data method
  controllers/postController.js
Labels: none

Changed pullAll to pull
  controllers/solutionController.js
Labels: none

Changes model back to category and made array
  models/Post.js
Labels: db, models

Added dashboard route
  routes/apiRoutes.js
Labels: routes

Prettified Code!
  config/config.js
  config/db.js
  config/facebookAuth.js
  config/githubAuth.js
  config/googleAuth.js
  controllers/postController.js
  models/Post.js
Labels: config, db, models

Sending number back rather than array
  controllers/postController.js
Labels: none

Removed duplicate function
  client/src/components/PostCard.js
Labels: none

Route and controller for retrieving avatars
  controllers/postController.js
  routes/apiRoutes.js
Labels: routes

ReadMe. First try.
  README.md
Labels: documentation

Fixed error re. response status
  controllers/postController.js
Labels: none

Importing src file from frontend repo
  client/src/components/PostCard.js
  client/src/components/Toast.js
  client/src/components/dummyData.js
  client/src/components/userPosts.js
  client/src/context/UserContext.js
  client/src/pages/Dashboard/BarChart.js
  client/src/pages/Dashboard/DoughnutChart.js
  client/src/pages/Dashboard/Nav.js
  client/src/pages/Dashboard/PieChart.js
  client/src/pages/Dashboard/Summary.js
  client/src/pages/Dashboard/TabPanel.js
  client/src/pages/NewPost/index.js
  client/src/pages/UserPage/index.js
  client/src/utils/API.js
Labels: none

Changed map to filter
  controllers/postController.js
Labels: none

Prettified Code!
  controllers/postController.js
  routes/apiRoutes.js
Labels: routes

changed italics
  README.md
Labels: documentation

Importing src folder
  client/src/App.js
  client/src/components/PostCard.js
  client/src/components/SuccessDialog.js
  client/src/hocs/DeveloperRoute.js
  client/src/pages/Dashboard/Summary.js
  client/src/pages/NewPost/index.js
  client/src/pages/Solution/SolutionForm.js
  client/src/utils/API.js
Labels: none

Update App.js
  client/src/App.js
Labels: none

Fixed controller
  client/src/App.js
  controllers/postController.js
Labels: none

Import latest src folder
  client/src/components/AppFilterMenu.js
  client/src/components/Pagniation.js
  client/src/components/PostResults.js
  client/src/components/SuccessDialog.js
  client/src/components/userPosts.js
  client/src/pages/AllPosts/index.js
  client/src/pages/NewPost/PostForm.js
  client/src/pages/NewPost/index.js
  client/src/pages/Solution/SolutionForm.js
Labels: none

changed paragraph for filtering the apps ideas on landing page
  README.md
Labels: documentation

Removed console logs
  controllers/postController.js
Labels: none

Added update solution method
  controllers/solutionController.js
Labels: none

Added update solution method
  routes/apiRoutes.js
Labels: routes

Prettified Code!
  controllers/solutionController.js
Labels: none

Merge
  client/src/App.js
Labels: none

Merge
  client/src/components/AppBar.js
  client/src/components/AppFilterMenu.js
  client/src/components/Pagniation.js
  client/src/components/PostResults.js
  client/src/components/PostSolution.js
  client/src/components/PostSolutionsResults.js
  client/src/components/SuccessDialog.js
  client/src/components/UserSolution.js
  client/src/components/UserSolutionsResults.js
  client/src/components/userPosts.js
  client/src/context/UserContext.js
  client/src/hocs/DeveloperRoute.js
  client/src/index.css
  client/src/index.js
  client/src/pages/AllPosts/index.js
  client/src/pages/AppPost/index.js
  client/src/pages/Dashboard/Summary.js
  client/src/pages/Dashboard/index.js
  client/src/pages/NewPost/PostForm.js
  client/src/pages/NewPost/index.js
  client/src/pages/NewPost/technologies.json
  client/src/pages/PostSolutions/index.js
  client/src/pages/Solution/SolutionForm.js
  client/src/pages/UserSolutions/index.js
  client/src/utils/API.js
Labels: none

Removed console log
  controllers/solutionController.js
Labels: none

Returned result
  controllers/postController.js
Labels: none

Import src folder from front end repo
  client/src/App.js
  client/src/components/AppBar.js
  client/src/components/AppFilterMenu.js
  client/src/components/DeleteDialog.js
  client/src/components/Pagniation.js
  client/src/components/PostResults.js
  client/src/components/PostSolution.js
  client/src/components/PostSolutionsResults.js
  client/src/components/UserSolution.js
  client/src/components/UserSolutionsResults.js
  client/src/components/userPosts.js
  client/src/context/UserContext.js
  client/src/index.css
  client/src/index.js
  client/src/pages/AllPosts/index.js
  client/src/pages/AppPost/index.js
  client/src/pages/Dashboard/BarChart.js
  client/src/pages/Dashboard/DoughnutChart.js
  client/src/pages/Dashboard/Nav.js
  client/src/pages/Dashboard/PieChart.js
  client/src/pages/Dashboard/index.js
  client/src/pages/NewPost/PostForm.js
  client/src/pages/NewPost/index.js
  client/src/pages/NewPost/technologies.json
  client/src/pages/PostSolutions/index.js
  client/src/pages/SolutionEdit/index.js
  client/src/pages/SolutionForm/index.js
  client/src/pages/UserSolutions/index.js
  client/src/utils/API.js
Labels: none

Removed cors config
  server.js
Labels: none

Unregistered service worker
  client/src/index.js
Labels: none

Removed service worker from index.js
  client/src/index.js
Labels: none

Removed commented out SW
  client/src/index.js
Labels: none

Cors reinstated
  server.js
Labels: none

User details on post card
  client/src/components/PostCard.js
Labels: none

Passed posterId as props
  client/src/components/PostResults.js
Labels: none

User details on solution card
  client/src/components/PostSolution.js
Labels: none
