Repository phillidp1989/project-3, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, config, db, automation, npm packages, models, routes

Passed down developer Id and date as props
  client/src/components/PostSolutionsResults.js
Labels: none

Passed down posterId as props
  client/src/components/userPosts.js
Labels: none

User details on solution card
  client/src/components/UserSolution.js
Labels: none

Get user method
  client/src/utils/API.js
Labels: none

Update index.js
  client/src/index.js
Labels: none

Update README.md
  README.md
Labels: documentation

Passed down date from parent component
  client/src/components/UserSolutionsResults.js
Labels: none

Environment variable
  client/src/utils/API.js
Labels: none

Solution title
  client/src/pages/AppPost/index.js
Labels: none

Poster information
  client/src/components/PostCard.js
  client/src/components/PostResults.js
  client/src/components/PostSolution.js
  client/src/components/UserSolution.js
Labels: none

Redundancy cleanup, validation improvements
  client/src/components/AppBar.js
  client/src/components/PostCard.js
  client/src/components/PostResults.js
  client/src/components/UserSolution.js
  client/src/pages/NewPost/index.js
Labels: none

sanitising description for html
  controllers/postController.js
  package-lock.json
  package.json
Labels: npm packages

Frontend merge
  client/src/components/AppFilterMenu.js
  client/src/components/PostCard.js
  client/src/components/PostResults.js
  client/src/components/PostSolution.js
  client/src/components/PostSolutionsResults.js
  client/src/components/SearchBar.js
  client/src/components/UserSolution.js
  client/src/components/UserSolutionsResults.js
  client/src/components/userPosts.js
  client/src/pages/AppPost/index.js
  client/src/utils/API.js
Labels: none

Added a log
  client/src/components/DeleteDialog.js
Labels: none

Added log
  controllers/solutionController.js
Labels: none

Changed deconstruction to fix delete issue
  controllers/solutionController.js
Labels: none

Fixed edit post issue
  client/src/pages/NewPost/index.js
Labels: none

Added update post method
  client/src/utils/API.js
Labels: none

Corrected comment
  client/src/pages/SolutionEdit/index.js
Labels: none

Remove devId from post when solution deleted
  controllers/solutionController.js
Labels: none

Update PostSolution.js
  client/src/components/PostSolution.js
Labels: none

.github/labeler.yml:

# Config file for labeler to auto label Pull Requests
documentation:
  - README.md
  - docs/**/*

config:
  - config/**/*

db:
  - db/**/*
  - models/**/*

automation:
  - .github/**/*.yml
  - .eslintrc.json

npm packages:
  - '**/package.json'
  - '**/package-lock.json'

models:
  - models/*
  - models/**/*

routes:
  - routes/*
  - routes/**/*
